<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.ftech.ekyc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/FBaseTheme"
            android:name=".presentation.home.HomeActivity"
            android:exported="false" />

        <activity
            android:theme="@style/FBaseTheme"
            android:name="ai.ftech.ekyc.presentation.picture.take.TakePictureActivity"
            android:exported="false" />

        <activity
            android:theme="@style/FBaseTheme"
            android:name="ai.ftech.ekyc.presentation.picture.preview.PreviewPictureActivity"
            android:exported="false" />

        <activity
            android:theme="@style/FBaseTheme"
            android:name=".presentation.picture.confirm.ConfirmPictureActivity"
            android:exported="false" />

        <activity
            android:theme="@style/FBaseTheme"
            android:name=".presentation.info.EkycInfoActivity"
            android:exported="false" />
    </application>
</manifest>
